<template>
  <div>
    <button v-on:click="showUnshow()">
      <span class="material-icons"> mode_comment </span
      >{{ commentDatas.length }}
      Commentaire(s)
    </button>
    <div id="comments">
      <div
        class="comment"
        v-for="(comment, index) in commentDatas.slice(0, 10)"
        :key="index"
      >
        <h5>{{ comment.name }}</h5>
        <span>{{ comment.email }}</span>
        <p>
          {{ comment.body }}
        </p>
      </div>
    </div>
  </div>
</template>

<script>
import commentService from "@/services/comment.service.js";

export default {
  name: "PostComments",
  data() {
    return {
      commentDatas: [],
      nbComments: 0
    };
  },
  props: {
    postID: {}
  },
  mounted() {
    commentService
      .getCommentsByPostID(this.postID)
      .then(response => {
        this.commentDatas = response.data;
        this.filtered = this.commentDatas;
      })
      .catch(function(error) {
        console.log(error);
      });
  },
  methods: {
    showUnshow: function() {
      var x = document.getElementById("comments");
      if (x.style.display === "none") {
        x.style.display = "block";
      } else {
        x.style.display = "none";
      }
    }
  }
};
</script>

<style scoped>
#comments {
  display: none;
}
#comments .comment {
  border-top: 1px gray solid;
  margin-top: 2rem;
}
#comments .comment h5 {
  margin: 0;
  margin-top: 10px;
  font-weight: 600;
  font-size: 1rem;
  text-transform: uppercase;
}
#comments .comment span {
  text-transform: lowercase;
  font-size: 0.8rem;
  color: gray;
}
#comments .comment p {
  font-size: 0.9rem;
}
button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background: none;
  font-size: 0.7rem;
  color: gray;
  outline: none;
  cursor: pointer;
}
button span {
  margin-right: 5px;
  font-size: 1.3rem;
  color: gray;
}
</style>
