<template>
  <div>
    <h3>
      {{ postTitle }}
    </h3>
    <router-link :to="{ name: 'Utilisateur', params: { id: userDatas.id } }">
      <h6>
        {{ userDatas.name }}
        <span>@{{ userDatas.username }}</span>
      </h6>
    </router-link>

    <p>{{ postContent }}</p>
  </div>
</template>

<script>
import userService from "@/services/user.service.js";

export default {
  name: "PostContent",
  data() {
    return {
      userDatas: []
    };
  },
  props: {
    postTitle: {},
    postContent: {},
    authorID: {}
  },
  mounted() {
    userService
      .getUserById(this.authorID)
      .then(response => {
        this.userDatas = response.data;
      })
      .catch(function(error) {
        console.log(error);
      });
  }
};
</script>

<style scoped>
h3 {
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  font-size: 1.3rem;
}
h6 {
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  font-size: 1rem;
  color: gray;
  font-weight: 600;
  cursor: pointer;
}
h6 span {
  font-size: 0.8rem;
  text-transform: lowercase;
  opacity: 0.7;
  font-weight: 100;
}
a {
  text-decoration: none;
}
</style>
