<template>
  <div class="albums">
    <h1>Les albums</h1>
    <div
      class="album target"
      v-for="album in albumDatas.slice(from, to)"
      :key="album"
    >
      <AlbumTitle :albumTitle="album.title" :authorID="album.userId" />
      <AlbumGallery :albumID="album.id" />
    </div>
    <button v-on:click="to = to + 10">
      Voir plus
      <span class="material-icons">
        visibility
      </span>
    </button>
  </div>
</template>

<script>
import albumService from "@/services/album.service.js";
import AlbumTitle from "../components/albums/AlbumTitle.vue";
import AlbumGallery from "../components/albums/AlbumGallery.vue";

export default {
  components: { AlbumTitle, AlbumGallery },
  name: "Albums",
  data() {
    return {
      albumDatas: [],
      from: 0,
      to: 10
    };
  },
  mounted() {
    albumService
      .getAlbums()
      .then(response => {
         
        this.albumDatas = response.data;
      })
      .catch(function(error) {
        console.log(error);
      });
  }
};
</script>

<style scoped>
.albums {
  overflow: hidden;
}
h1 {
  margin: 0;
  background: #1dbe8b;
  margin-top: 50px;
  margin-bottom: 30px;
  color: white;
  text-transform: uppercase;
  padding: 10px;
  text-align: center;
}
.album {
  max-width: 80%;
  margin: 0 auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: none;
}
.target,
.target + img,
.target + img + img {
  display: block;
}
button {
  margin: 0 auto;
  background: black;
  color: white;
  border: none;
  outline: none;
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-weight: 900;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 30px;
  padding-left: 30px;
  border-radius: 999px;
  transition: all 0.3s ease-out;
}
button span {
  margin-left: 5px;
}
button:hover {
  color: black;
  background-color: white;
}
</style>
