<template>
  <div class="home">
    <h1>Les derniers articles</h1>
    <div id="posts">
      <div
        class="post"
        v-for="(post, index) in postDatas.slice(0, 10)"
        :key="index"
      >
        <PostContent
          :postTitle="post.title"
          :postContent="post.body"
          :authorID="post.userId"
        />
        <PostComments :postID="post.id" />
      </div>
    </div>
  </div>
</template>

<script>
import postService from "@/services/post.service.js";
import userService from "@/services/user.service.js";
import commentService from "@/services/comment.service.js";
import PostContent from "../components/articles/PostContent.vue";
import PostComments from "../components/articles/PostComments.vue";

export default {
  components: { PostContent, PostComments },
  name: "Home",
  data() {
    return {
      userDatas: [],
      postDatas: [],
      commentDatas: [],
      id: 0,
      $: null
    };
  },
  mounted() {
    postService
      .getPosts()
      .then(response => {
        this.postDatas = response.data;
      })
      .catch(function(error) {
        console.log(error);
      });
    userService
      .getUsers()
      .then(response => {
        this.userDatas = response.data;
        this.filtered = this.userDatas;
      })
      .catch(function(error) {
        console.log(error);
      });
    commentService
      .getCommentsByPostID(1)
      .then(response => {
        this.commentDatas = response.data;
        this.filtered = this.commentDatas;
      })
      .catch(function(error) {
        console.log(error);
      });
  },
  methods: {
    showUnshow: function() {
      var x = document.getElementsByClassName(".comments");
      if (x.style.display === "none") {
        x.style.display = "block";
      } else {
        x.style.display = "none";
      }
    }
  }
};
</script>

<style scoped>
h1 {
  margin: 0;
  background: #1dbe8b;
  margin-top: 50px;
  margin-bottom: 30px;
  color: white;
  text-transform: uppercase;
  padding: 10px;
  text-align: center;
}
.post {
  max-width: 80%;
  background: white;
  border-radius: 1rem;
  box-shadow: 0 0 100px #00000029;
  margin: 0 auto;
  margin-top: 3rem;
  margin-bottom: 3rem;
  padding: 2rem;
}
</style>
