<template>
  <div class="user">
    <h1>
      {{ userDatas.name }}
      <a v-on:click="navigate()">Voir tous les utilisateurs</a>
    </h1>
    <span class="username">@{{ userDatas.username }}</span>
    <p class="email"><i class="material-icons">mail</i>{{ userDatas.email }}</p>
    <p><i class="material-icons">phone</i>{{ userDatas.phone }}</p>
    <p><i class="material-icons">language</i>{{ userDatas.website }}</p>
    <p>
      <i class="material-icons">location_on</i>{{ userDatas.address.suite }},
      {{ userDatas.address.street }}, {{ userDatas.address.city }} ({{
        userDatas.address.zipcode
      }})
    </p>
    <p><i class="material-icons">work</i>{{ userDatas.company.name }}</p>
    <div id="todos">
      <h2>La To do list de {{ userDatas.name }}</h2>
      <div class="filter">
        <button
          class="do"
          v-on:click="todoFilterKey = 'do'"
          :class="{ active: todoFilterKey == 'do' }"
        ></button>
        <button
          class="todo"
          v-on:click="todoFilterKey = 'todo'"
          :class="{ active: todoFilterKey == 'todo' }"
        ></button>
        <button
          class="all"
          v-on:click="todoFilterKey = 'all'"
          :class="{ active: todoFilterKey == 'all' }"
        >
          Voir tout
        </button>
      </div>
      <div v-for="todo in todoFilter" :key="todo">
        <span v-if="todo.completed == true" style="opacity: 0.5"
          ><img src="../assets/icons/check.svg" />{{ todo.title }}</span
        >
        <span v-else
          ><img src="../assets/icons/uncheck.svg" />{{ todo.title }}</span
        >
      </div>
    </div>
  </div>
</template>

<script>
import router from "../router";
import userService from "@/services/user.service.js";
import todoService from "@/services/todo.service.js";

export default {
  name: "User",
  data() {
    return {
      filterKey: "all",
      todoFilterKey: "all",
      userDatas: [],
      todoDatas: [],
      id: 0
    };
  },
  created() {
    this.id = this.$route.params.id;
  },
  methods: {
    navigate() {
      router.go(-1);
    }
  },
  mounted() {
    userService
      .getUserById(this.id)
      .then(response => {
        this.userDatas = response.data;
      })
      .catch(function(error) {
        console.log(error);
      });
    todoService
      .getTodosByUserId(this.id)
      .then(response => {
        this.todoDatas = response.data;
      })
      .catch(function(error) {
        console.log(error);
      });
  },
  computed: {
    todoFilter() {
      return this[this.todoFilterKey];
    },
    all() {
      return this.todoDatas;
    },
    do() {
      return this.todoDatas.filter(todo => todo.completed == true);
    },
    todo() {
      return this.todoDatas.filter(todo => todo.completed == false);
    }
  }
};
</script>

<style scoped>
h1 {
  margin: 0;
  background: #1dbe8b;
  margin-top: 50px;
  margin-bottom: 30px;
  color: white;
  text-transform: uppercase;
  padding: 10px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
h2 {
  margin-bottom: 3rem;
  text-align: center;
  background: white;
}
a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  padding: 3px 30px;
  border-radius: 999px;
  color: white;
  font-size: 0.7rem;
  border: 1px white solid;
  cursor: pointer;
}
span {
  display: block;
  font-size: 0.8em;
  color: grey;
  text-align: center;
  text-transform: lowercase;
}
p {
  margin: 5px;
  background-color: #eafff8;
  font-size: 13px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 5px;
  padding-bottom: 5px;
}
p i {
  font-size: 13px;
  margin-right: 10px;
}
#todos {
  background: white;
  padding-bottom: 1rem;
  padding-top: 1rem;
  margin-top: 2rem;
}
#todos span {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  color: black;
}
#todos span img {
  height: 30px;
  width: auto;
  margin-right: 10px;
}
.email {
  text-transform: lowercase;
}
.filter {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
button {
  background-color: unset;
  border: none;
  outline: none;
  cursor: pointer;
  margin-right: 10px;
  margin-left: 10px;
}
button:hover {
  opacity: 0.7;
}
button.do {
  background-image: url("../assets/icons/check.svg");
  height: 50px;
  width: 50px;
}
button.todo {
  background-image: url("../assets/icons/uncheck.svg");
  height: 50px;
  width: 50px;
}
button.all {
  background: black;
  color: white;
  text-transform: uppercase;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 10px;
  padding-left: 10px;
  font-weight: 900;
}
</style>
