<template>
  <div class="users">
    <h1>Tous les utilisateurs</h1>
    <SearchBar v-on:change="searchValue" />
    <div id="users-list">
      <div class="usercard" v-for="(user, index) in filtered" :key="index">
        <router-link :to="{ name: 'Utilisateur', params: { id: user.id } }">
          <h4 class="name">
            {{ user.name }}
          </h4>
          <span class="username">@{{ user.username }}</span>
          <p class="email">
            <i class="material-icons">mail</i>{{ user.email }}
          </p>
          <p><i class="material-icons">phone</i>{{ user.phone }}</p>
          <p><i class="material-icons">language</i>{{ user.website }}</p>
          <p>
            <i class="material-icons">location_on</i>{{ user.address.suite }},
            {{ user.address.street }}, {{ user.address.city }} ({{
              user.address.zipcode
            }})
          </p>
          <p><i class="material-icons">work</i>{{ user.company.name }}</p>
        </router-link>
      </div>
    </div>
  </div>
</template>

<script>
import userService from "@/services/user.service.js";
import SearchBar from "@/components/SearchBar.vue";

export default {
  name: "Users",
  components: {
    SearchBar
  },
  data() {
    return {
      userDatas: [],
      filtered: []
    };
  },
  mounted() {
    userService
      .getUsers()
      .then(response => {
        this.userDatas = response.data;
        this.filtered = this.userDatas;
      })
      .catch(function(error) {
        console.log(error);
      });
  },
  methods: {
    searchValue(value) {
      console.log(value);
      this.filtered = this.userDatas.filter(
        x =>
          x.name.toLowerCase().includes(value.toLowerCase()) ||
          x.username
            .toString()
            .toLowerCase()
            .includes(value.toLowerCase())
      );
    }
  }
};
</script>

<style scoped>
h1 {
  margin: 0;
  background: #1dbe8b;
  margin-top: 50px;
  margin-bottom: 30px;
  color: white;
  text-transform: uppercase;
  padding: 10px;
  text-align: center;
}
#users-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.usercard {
  cursor: pointer;
  width: 250px;
  background-color: white;
  border-radius: 8px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 15px;
}
.usercard:hover {
  box-shadow: 0px 0px 99px #0000001a;
}
.usercard a {
  color: unset;
  text-decoration: unset;
  text-align: center;
}
.usercard a h4 {
  margin: 0;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.2em;
  margin-bottom: -5px;
}
.usercard a span {
  font-size: 0.8em;
  color: grey;
  text-transform: lowercase;
}
.usercard a p {
  margin: 5px;
  background-color: #eafff8;
  font-size: 13px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 5px;
  padding-bottom: 5px;
}
.usercard a p i {
  font-size: 13px;
  margin-right: 10px;
}
.email {
  text-transform: lowercase;
}
</style>
