<template>
  <div>
    <input
      type="text"
      v-model="recherche"
      v-on:keyup="$emit('change', $event.target.value)"
      placeholder="Rechercher un utilisateur..."
    />
  </div>
</template>

<script>
export default {
  name: "SearchBar",
  model: {
    prop: "value",
    event: "change"
  },
  props: {
    value: String
  },
  data() {
    return {
      recherche: ""
    };
  }
};
</script>

<style scoped>
input {
  border: none;
  height: 30px;
  background: #1dbe8b;
  color: white;
  outline: none;
  border-radius: 999px;
  padding-right: 20px;
  padding-left: 20px;
  width: 80%;
  margin: 0 auto;
  display: block;
  margin-top: 3rem;
  margin-bottom: 2rem;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 1rem;
}
input::placeholder {
  color: white;
  opacity: 0.5;
}
</style>
