<template>
  <div class="usercard">
    <h4 class="name">
      {{ name }}
    </h4>
    <span class="username">@gret</span>
    <p><i class="material-icons">mail</i>Lucio_Hettinger@annie.ca</p>
    <p><i class="material-icons">phone</i>(254) 954-1289</p>
    <p><i class="material-icons">language</i>demarco.info</p>
    <p>
      <i class="material-icons">location_on</i>Apt. 556, Kulas Light,
      Gwenborough (92998-3874)
    </p>
    <p><i class="material-icons">work</i>Romaguera-Crona</p>
  </div>
</template>

<script>
export default {
  name: "UserCard",
  props: {
    name: String,
    username: String,
    mail: String,
    phone: String,
    website: String,
    location: String,
    work: String
  }
};
</script>

<style scoped>
.usercard {
  cursor: pointer;
  width: 250px;
  background-color: white;
  border-radius: 8px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 15px;
}

.usercard:hover {
  box-shadow: 0px 0px 99px #0000001a;
}

.usercard h4 {
  margin: 0;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.2em;
  margin-bottom: -5px;
}

.usercard span {
  font-size: 0.8em;
  color: grey;
}

.usercard p {
  margin: 5px;
  background-color: #eafff8;
  font-size: 13px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 5px;
  padding-bottom: 5px;
}

.usercard p i {
  font-size: 13px;
  margin-right: 10px;
}
</style>
