<template>
  <div id="app">
    <div id="navbar">
      <div class="nav">
        <router-link to="/">Accueil</router-link>
        <router-link to="/utilisateurs">Utilisateurs</router-link>
        <router-link to="/albums">Albums</router-link>
      </div>
    </div>
    <router-view />
  </div>
</template>

<style>
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");

@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialicons/v70/flUhRq6tzZclQEJ-Vdg-IuiaDsNcIhQ8tQ.woff2)
    format("woff2");
}

.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
}
#app {
  color: #2c3e50;
  background-color: #eafff8;
  padding-bottom: 2rem;
}

#navbar {
  background: #00be8b;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 5%;
  padding-left: 5%;
}

#navbar .nav {
  margin: -10px;
}

#navbar .nav a {
  font-weight: 600;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  margin: 10px;
}

#navbar .nav a:hover {
  opacity: 0.5;
}

#navbar a.router-link-exact-active {
  text-decoration: underline;
}
</style>

<script>
export default {
  data() {
    return {};
  },
  mounted() {}
};
</script>
