<template>
  <div>
    <div class="pictures">
      <img
        v-for="(photo, index) in photoDatas"
        :key="index"
        :src="photo.thumbnailUrl"
      />
    </div>
  </div>
</template>

<script>
import photoService from "@/services/photo.service.js";

export default {
  name: "AlbumGallery",
  data() {
    return {
      photoDatas: []
    };
  },
  props: {
    albumID: {}
  },
  mounted() {
    photoService
      .getPhotosByAlbumId(this.albumID)
      .then(response => {
        this.photoDatas = response.data;
      })
      .catch(function(error) {
        console.log(error);
      });
  }
};
</script>

<style scoped>
.pictures {
  display: flex;
  overflow-x: scroll;
}
.pictures img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  margin-right: 20px;
}
</style>
