<template>
  <div>
    <h3>
      {{ albumTitle }} <span>@{{ userDatas.username }}</span>
    </h3>
  </div>
</template>

<script>
import userService from "@/services/user.service.js";

export default {
  name: "AlbumTitle",
  data() {
    return {
      userDatas: []
    };
  },
  props: {
    albumTitle: {},
    authorID: {}
  },
  mounted() {
    userService
      .getUserById(this.authorID)
      .then(response => {
        this.userDatas = response.data;
      })
      .catch(function(error) {
        console.log(error);
      });
  }
};
</script>

<style scoped>
h3 {
  text-transform: uppercase;
}
h3 span {
  text-transform: lowercase;
  font-weight: 100;
  font-size: 0.9rem;
}
</style>
